.sidebar {
    background-image: linear-gradient( #182150, #2b3669);
    padding-top: 20px;
    padding-bottom: 60px;
}
.sidebar h5 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}
.sidebar li {
    list-style: none;
    padding-top: 15px;
    color: #fff;
    font-size: 14px;
}