@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color {
  color: #f73e64;
}

.buy-now-btn {
  color: #fff;
  font-size: 13px;
  border: none;
  background-color: #f73e64;
  border-radius: 5px;
  padding: 10px 20px;
}

input:focus, button:focus {
  outline: none !important;
}